body{
    font-family: Poppins;
    font-size: 18px;
    background-color: rgb(78, 82, 78);
}

#align{
    text-align: center;
    margin: auto;
}
h1{
    font-size: 3rem;
}
.size{
    width: 250px;
    height: 20px;
    margin: 5px 0 5px 0;
    border: none;
    border-bottom: 1px solid rgb(129, 124, 124);
    background-color: rgb(78, 82, 78);
}
.size:focus {
    outline: none;
}

#same{
    margin: 0;
}
legend{
    font-size: 25px;
    margin: 10px 0 5px 0;
}
button{
    font-size: 25px;
    border: 1px solid black;
    border-radius: 3px;
    margin :8px;
    background-color: rgb(78, 82, 78);
}


button:focus {
    outline: none;
}
